@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html {
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #1e293b;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #dbeafe inset;
}


